# /etc/systemd/system/uploader.service
#
# Also, add the following line to /etc/systemd/system.conf
#
#  DefaultEnvironment="AWS_DEFAULT_REGION=us-east-1"
#
# It is required if your command need to use the AWS API. Choose your region accordingly.
#
# Useful docs:
#
# https://www.freedesktop.org/software/systemd/man/systemd.service.html
# https://www.freedesktop.org/software/systemd/man/system.conf.d.html


[Unit]
Description=S3 uploader
After=network.target
##StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=ec2-user
ExecStart=/bin/python3 -u /home/ec2-user/send_files_to_s3.py --directory /home/ec2-user/out/ --s3bucket galactica-upload --s3prefix testing --verbose

[Install]
WantedBy=multi-user.target
